<footer class=".container-fluid fixed-bottom" style="height: 3.5vh;background-color: rgba(0, 45, 75, 1)">
    <div class=".container-fluid ">
        <div class="container mr-auto text-center my-auto">
            <p class="h6" style="color: white;margin-top: 5px;"><%= info.bb %> - <%= info.ano %></p>
        </div>
    </div>
</footer>