<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logo_reconheSER.png">
    <title><%= title %></title>

<!--CSS FILES-->
<style>
    html{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<!--BOOTSTRAP-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
</head>
<body class="h-100">